<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-corvus18/blob/main/Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **MODULO1**

In [ ]:
#Imprimir Mensaje
print("Hola a todos!")

Hola a todos!

In [ ]:
#Types

type(12)

bool(0)

False

In [ ]:
#Variables

x = 5

y = 2

z = x * y

print(z)

10

In [4]:
#Strings

a = "bienvenido"
b = a.upper()

print(b)

s1 = "Hola"
s2 = " Felipe"

s3 = s1 + s2

s3

FELIPE

'Hola Felipe'

In [5]:
#Pruebas
name ="ABCDE"
print(name[0:2])

AB

## **MODULO2**

In [26]:
#List and Tuples


#Tuple
usuario = ("Felipe", 12, 3)

print(usuario[0])


B=["a","b","c"]

B.extend(["d"])

print(B)

B[-1]

Felipe
['a', 'b', 'c', 'd']

'd'

In [38]:
A = ('a','b','c')
A[0]

'a'

In [19]:
str = "A.B.C.D"

str = str.split(".")

str

['A', 'B', 'C', 'D']

In [33]:
#SETS
B=["a","b","c"]
mysetA = {"1","2","3"}
mysetB = set(B)

mysetA
mysetB


x = "d" in mysetB
y = "b" in mysetB

True

In [34]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [36]:
#Diccionarios

usuario ={"nombre":"Felipe","Edad":12,"Pais":"Mexico"}
usuario.values()

dict_values(['Felipe', 12, 'Mexico'])

In [37]:
D = {'a':0,'b':1,'c':2}
D['b']

1

In [39]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

## **MODULO3**

In [42]:
#Conditions and Branching

a = 5 ==4

a

b = 3==3

b

True

In [43]:
x='a'

if(x!='a'):

 print("This is not a.")

else:

 print("This is a.")

This is a.

In [46]:
a = 5
b = 4

if (a > b):
 print("A es mayor que B")
else:
 print("A no es mayor que B")

A es mayor que B

In [47]:
#Loops
A=[3,4,5]

for a in A:
 print(a)

3
4
5

In [48]:
x=3

y=1

while(y!=x):

 print(y)

 y=y+1

1
2

In [54]:
x=1

if(x!=1):

 print('Hello')

else:

 print('Hi')

print('Mike')

Hi
Mike

In [50]:
#Funciones

a=1

def add(b):

 return a+b

c=add(10)

c

11

In [53]:
def f1(*x):
 return sum(x)


b = 4

c = f1(b)

c

4

In [55]:
A = ['1','2','3']

for a in A:

 print(2*a)

11
22
33

In [56]:
#Clases y Metodos

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36